.groupDetails {
  display: flex;
  flex-direction: column; /* Asegura que los hijos se coloquen en columna */
  justify-content: space-between; /* Espaciado entre hijos */
  align-items: stretch; /* Asegura que los hijos ocupen el ancho disponible */
  padding: 20px;
  height: 100%; /* Asegura que ocupe el espacio completo del padre */
  box-sizing: border-box; /* Incluye padding en el cálculo del tamaño */
  overflow: hidden; /* Evita desbordamiento */
}

.sectionsContainer {
  display: flex;
  justify-content: space-around; /* Espacio uniforme entre `GroupExpenses` y `GroupBalances` */
  align-items: flex-start; /* Alinea elementos al principio verticalmente */
  width: 100%;
  flex-grow: 1; /* Permite que crezca para ocupar espacio vertical */
  height: 100%; /* Asegura que use todo el espacio vertical disponible */
  box-sizing: border-box; /* Incluye padding y bordes en el tamaño */
  overflow-y: hidden; /* Habilita scroll vertical si es necesario */
}
