.panelOptions {
  padding: 20px 40px; /* Consistencia en el padding */
  background-color: transparent;
  backdrop-filter: blur(14px); /* Alineado con el desenfoque de Additional Container */
  border-radius: 25px; /* Incrementado para coincidir con los contenedores adicionales */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 28px; /* Ajustado para coincidir con el margen externo */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-bottom: 45px; /* Mantén esto si es específico para el diseño del título */
  font-size: 59px;
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
}

.buttonsContainer {
  display: flex;
  justify-content: space-around; /* Ajustado para un mejor espaciado */
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(14px);
  border-radius: 40px;
  padding: 20px; /* Consistencia en el espacio interior */
  width: 100%; /* Utilización completa del ancho disponible */
  margin-bottom: 15px;
}


.button {
  margin: 15px 30px; /* Reducido para permitir botones más grandes */
  padding: 19px 40px; /* Aumentado para botones más grandes */
  font-size: 26px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  border: 0;
  border-radius: 20px;
  flex-grow: 1; /* Hace que cada botón expanda para llenar el espacio */
  color: #ffffff;
  background-color: #ff7f50;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #e06c45;
}

.settleUp {
  background-color: #32cd32;
}

.settleUp:hover {
  background-color: #28a828;
}


