.container {
  position: relative; /* Para posicionar elementos dentro */
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Alinea los elementos hacia la parte superior */
  flex-grow: 1;
  height: 94%;
  padding: 10px; /* Reduce el padding global */
  background-color:  rgba(255, 255, 255, 0.15); ;
  backdrop-filter: blur(14px);
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombras ligeramente más profundas */
  width: 100%;
  margin: 0px 15px; /* Espaciado vertical entre componentes */
}
.container:hover {
  transition: transform 0.2s ease-in-out; /* Transición suave */
  transform: scale(1.002); /* Amplía un 2% */
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada al hover */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 2px 10px; /* Reduce el padding */
  margin-bottom: 2px; /* Reduce la separación con el contenedor */
}
.title {
  font-size: 22px; /* Reduce un poco el tamaño */
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
}

.status {
  color: rgb(33, 136, 56);
  font-size: 19px; /* Reduce un poco el tamaño */
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-align: right;
  margin-left: auto; /* Empuja hacia la derecha */
}

.groupContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-start;
  align-items: flex-start;
  height: calc(100% - 80px); /* Reduce más la altura */
  padding: 10px 15px; /* Reduce el padding interno */
  margin: 0 auto; /* Centra el contenedor sin desplazarlo negativamente */
  width: 90%; /* Ajusta el ancho para hacerlo más compacto */
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(14px);
  border-radius: 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}
.subTitle {
  font-size: 20px;
  color: black;
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.debtsList {
  width: 100%;
  list-style-type: none;
  padding: 0;
}

.debtCard {
  background-color: #fff;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.amount {
  color: #FFA500;
  font-size: 18px;
}